# .envrc
# This file is read by direnv (https://direnv.net/) and used to make setting
# up development environments better, faster, more consistent, etc.
#
# Dependencies: direnv.
#
# This file performs the following functions:
#   1) if .env file is present, loads it and reruns this if it changes
#
# Usage:
#   1) install direnv using your package manager of choice
#   2) wire it up in your shell of choice
#   3) change into the directory this file lives
#   4) when prompted, run `direnv allow`
#
# This runs for every directory change, so fail fast.

PATH_add tools/

if [[ -f ".env" ]]; then
  source ".env"
fi
watch_file ".env"
